body {
  background-color: var(--backgound);
  color: #fff;
}

h1,
p {
  text-align: center;
}

.signin-form {
  background-color: #fff;
  border-radius: 05px;
  border-top: 4px solid var(--primary);
  color: #333;
  margin: 90px auto;
  max-width: 380px;
  padding: 15px 25px;
}

.signup-form {
  background-color: #fff;
  border-radius: 05px;
  border-top: 4px solid var(--primary);
  color: #333;
  margin: 40px auto;
  max-width: 380px;
  padding: 15px 25px;
}